In [123]:
import pandas as pd
import sqlite3
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
import csv

pd.set_option("display.max_columns", None)

In [124]:
# Data Directory
data_dir = "../../Data/Big-Data-Cup-2021"
bucketless_data_dir = '../../Data/bdc/data'
tracking_data_dir = "{}/TrackingData".format(data_dir)
db_path = '/Users/keltim01/Documents/databases/'

#connect to database 
conn = sqlite3.connect(db_path + 'bdc_2022.db')
cursor = conn.cursor()

## Adavancement Powerplay Structure Index by Matt Cane
Explainer on hockeygraph: https://hockey-graphs.com/2017/02/14/measuring-the-importance-of-structure-on-the-power-play/ 

Schritte:  
- [x] recreate powerplay structure index

- [ ] improved version (using mainly event data)

- [ ] dynamic powerplay structure index using tracking data (space creation, voronoi, pitch control)

### recreate powerplay structure index

average distance of each player’s shots from their average shot location.

Player Structure = (Σ Distance of Shot To Player’s Average Shot Location) / (# of Shots For Player)

Team Structure Index = (Σ # of Shots for Player * Player Structure ) / (Σ # of Shots for Each Player)

In [125]:
df_pbp_player_shots = pd.read_sql('''
SELECT player_name, team_name, powerplay_shots, avg_x_coord, avg_y_coord, sum_distance_to_avg_shot_location, sum_distance_to_avg_shot_location / powerplay_shots player_structure_index
FROM
(SELECT player_name, team_name, COUNT(player_name) powerplay_shots, AVG(x_coord) avg_x_coord, AVG(y_coord) avg_y_coord, SUM(distance) sum_distance_to_avg_shot_location
FROM (
    SELECT player_name, team_name, x_coord, y_coord, avg_x_coord, avg_y_coord, SQRT((x_coord - avg_x_coord) * (x_coord - avg_x_coord) + (y_coord - avg_y_coord) * (y_coord - avg_y_coord)) distance FROM play_by_play 
LEFT JOIN (
    SELECT player_name, COUNT(player_name) powerplay_shots, AVG(x_coord) avg_x_coord, AVG(y_coord) avg_y_coord FROM play_by_play WHERE is_shot = 1 AND strength_state > 0 GROUP BY player_name
    )
USING (player_name)
WHERE is_shot = 1 AND strength_state > 0
)
GROUP BY player_name
)
ORDER BY player_structure_index ASC;
''',conn)

In [126]:
df_pbp_shots = pd.read_sql('''
SELECT player_name, x_coord, y_coord, avg_x_coord, avg_y_coord, SQRT((x_coord - avg_x_coord) * (x_coord - avg_x_coord) + (y_coord - avg_y_coord) * (y_coord - avg_y_coord)) distance FROM play_by_play 
LEFT JOIN (
    SELECT player_name, COUNT(player_name) powerplay_shots, AVG(x_coord) avg_x_coord, AVG(y_coord) avg_y_coord FROM play_by_play WHERE is_shot = 1 AND strength_state > 0 GROUP BY player_name
    )
USING (player_name)
WHERE is_shot = 1 AND strength_state > 0;
''',conn)

In [127]:
df_pbp_player_team = pd.read_sql('''
SELECT team_name, SUM(powerplay_shots) team_shots, SUM(powerplay_shots * player_structure_index) / SUM(powerplay_shots) team_structure_index
FROM (
    SELECT player_name, team_name, powerplay_shots, avg_x_coord, avg_y_coord, sum_distance_to_avg_shot_location, sum_distance_to_avg_shot_location / powerplay_shots player_structure_index
    FROM
    (SELECT player_name, team_name, COUNT(player_name) powerplay_shots, AVG(x_coord) avg_x_coord, AVG(y_coord) avg_y_coord, SUM(distance) sum_distance_to_avg_shot_location
    FROM (
        SELECT player_name, team_name, x_coord, y_coord, avg_x_coord, avg_y_coord, SQRT((x_coord - avg_x_coord) * (x_coord - avg_x_coord) + (y_coord - avg_y_coord) * (y_coord - avg_y_coord)) distance FROM play_by_play 
    LEFT JOIN (
        SELECT player_name, COUNT(player_name) powerplay_shots, AVG(x_coord) avg_x_coord, AVG(y_coord) avg_y_coord FROM play_by_play WHERE is_shot = 1 AND strength_state > 0 GROUP BY player_name
        )
    USING (player_name)
    WHERE is_shot = 1 AND strength_state > 0
    )
    GROUP BY player_name
    )
)
GROUP BY team_name
ORDER BY team_structure_index ASC;
''',conn)

In [128]:
df_pbp_shots

            player_name  x_coord  y_coord  avg_x_coord  avg_y_coord   distance
0        Brianne Jenner      181       40    93.000000    36.000000  88.090862
1          Cayla Barnes       66       64   102.285714    40.142857  43.425987
2          Kelly Pannek       44       55   107.000000    61.000000  63.285069
3          Cayla Barnes       68       41   102.285714    40.142857  34.296427
4         Hilary Knight       53       64    95.000000    60.000000  42.190046
..                  ...      ...      ...          ...          ...        ...
119    Elisa Holopainen      152       27   129.750000    22.000000  22.804879
120  Minnamari Tuominen      138       42   110.636364    38.181818  27.628737
121      Nelli Laitinen      176       60   114.400000    53.600000  61.931575
122    Jenni Hiirikoski      147       37   110.166667    47.333333  38.255355
123   Michelle Karvinen      182       53   121.400000    44.600000  61.179408

[124 rows x 6 columns]

In [129]:
'''
SQR((x_coord - avg_x_coord) * (x_coord - avg_x_coord) + (y_coord - avg_y_coord) * (y_coord - avg_y_coord)) distance
'''

'\nSQR((x_coord - avg_x_coord) * (x_coord - avg_x_coord) + (y_coord - avg_y_coord) * (y_coord - avg_y_coord)) distance\n'

In [130]:
df_pbp_shots

            player_name  x_coord  y_coord  avg_x_coord  avg_y_coord   distance
0        Brianne Jenner      181       40    93.000000    36.000000  88.090862
1          Cayla Barnes       66       64   102.285714    40.142857  43.425987
2          Kelly Pannek       44       55   107.000000    61.000000  63.285069
3          Cayla Barnes       68       41   102.285714    40.142857  34.296427
4         Hilary Knight       53       64    95.000000    60.000000  42.190046
..                  ...      ...      ...          ...          ...        ...
119    Elisa Holopainen      152       27   129.750000    22.000000  22.804879
120  Minnamari Tuominen      138       42   110.636364    38.181818  27.628737
121      Nelli Laitinen      176       60   114.400000    53.600000  61.931575
122    Jenni Hiirikoski      147       37   110.166667    47.333333  38.255355
123   Michelle Karvinen      182       53   121.400000    44.600000  61.179408

[124 rows x 6 columns]

In [135]:
df_pbp_player_shots

,player_name,team_name,powerplay_shots,avg_x_coord,avg_y_coord,sum_distance_to_avg_shot_location,player_structure_index
0,Abby Roque,Olympic (Women) - United States,1,27.000000,33.000000,0.000000,0.000000
1,Alexandra Vafina,Olympic (Women) - Olympic Athletes from Russia,1,179.000000,31.000000,0.000000,0.000000
2,Ashton Bell,Olympic (Women) - Canada,1,165.000000,66.000000,0.000000,0.000000
3,Claire Thompson,Olympic (Women) - Canada,1,52.000000,36.000000,0.000000,0.000000
4,Dani Cameranesi,Olympic (Women) - United States,1,185.000000,48.000000,0.000000,0.000000
5,Ella Shelton,Olympic (Women) - Canada,1,144.000000,42.000000,0.000000,0.000000
6,Evelina Raselli,Olympic (Women) - Switzerland,1,33.000000,16.000000,0.000000,0.000000
7,Fanuza Kadirova,Olympic (Women) - Olympic Athletes from Russia,1,160.000000,33.000000,0.000000,0.000000
8,Hannah Brandt,Olympic (Women) - United States,1,168.000000,66.000000,0.000000,0.000000
9,Jamie Lee Rattray,Olympic (Women) - Canada,1,45.000000,47.000000,0.000000,0.000000
10,Keely Moy,Olympic (Women) - Switzerland,1,14.000000,57.000000,0.000000,0.000000
11,Melodie Daoust,Olympic (Women) - Canada,1,26.000000,19.000000,0.000000,0.000000
12,Olga Sosina,Olympic (Women) - Olympic Athletes from Russia,1,164.000000,67.000000,0.000000,0.000000
13,Sarah Nurse,Olympic (Women) - Canada,1,43.000000,36.000000,0.000000,0.000000
14,Valeria Pavlova,Olympic (Women) - Olympic Athletes from Russia,1,169.000000,21.000000,0.000000,0.000000
15,Viivi Vainikka,Olympic (Women) - Finland,2,179.500000,45.500000,1.414214,0.707107
16,Savannah Harmon,Olympic (Women) - United States,2,33.500000,59.000000,12.369317,6.184658
17,Ronja Savolainen,Olympic (Women) - Finland,2,31.000000,38.000000,12.649111,6.324555
18,Rahel Enzler,Olympic (Women) - Switzerland,2,35.000000,45.500000,15.132746,7.566373
19,Alina Muller,Olympic (Women) - Switzerland,3,50.000000,24.333333,23.949691,7.983230
20,Nina Pirogova,Olympic (Women) - Olympic Athletes from Russia,3,179.333333,47.666667,25.347867,8.449289
21,Anna Shibanova,Olympic (Women) - Olympic Athletes from Russia,2,150.500000,24.500000,25.495098,12.747549
22,Anna Shokhina,Olympic (Women) - Olympic Athletes from Russia,6,160.500000,22.000000,78.080377,13.013396
23,Jincy Dunne,Olympic (Women) - United States,2,149.000000,46.500000,29.614186,14.807093
24,Angelina Goncharenko,Olympic (Women) - Olympic Athletes from Russia,4,151.000000,16.000000,61.166788,15.291697
25,Susanna Tapani,Olympic (Women) - Finland,2,163.500000,46.000000,36.400549,18.200275
26,Rebecca Johnston,Olympic (Women) - Canada,2,33.000000,29.000000,39.849718,19.924859
27,Minnamari Tuominen,Olympic (Women) - Finland,11,110.636364,38.181818,380.244894,34.567718
28,Megan Keller,Olympic (Women) - United States,3,82.666667,33.333333,110.376366,36.792122
29,Jenni Hiirikoski,Olympic (Women) - Finland,6,110.166667,47.333333,245.103731,40.850622
30,Lara Stalder,Olympic (Women) - Switzerland,8,73.000000,47.250000,347.749367,43.468671
31,Elisa Holopainen,Olympic (Women) - Finland,8,129.750000,22.000000,358.676179,44.834522
32,Cayla Barnes,Olympic (Women) - United States,7,102.285714,40.142857,341.679330,48.811333
33,Nelli Laitinen,Olympic (Women) - Finland,5,114.400000,53.600000,249.444269,49.888854
34,Petra Nieminen,Olympic (Women) - Finland,4,129.250000,37.500000,212.493544,53.123386
35,Hilary Knight,Olympic (Women) - United States,3,95.000000,60.000000,179.808287,59.936096
36,Michelle Karvinen,Olympic (Women) - Finland,5,121.400000,44.600000,303.702866,60.740573
37,Noora Tulus,Olympic (Women) - Finland,2,98.500000,26.500000,123.004065,61.502032
38,Kelly Pannek,Olympic (Women) - United States,2,107.000000,61.000000,126.570139,63.285069
39,Phoebe Staenz,Olympic (Women) - Switzerland,4,84.000000,37.500000,263.846809,65.961702
40,Alex Carpenter,Olympic (Women) - United States,7,92.571429,30.285714,471.731443,67.390206
41,Brianne Jenner,Olympic (Women) - Canada,2,93.000000,36.000000,176.181724,88.090862

In [132]:
df_pbp_player_team

,team_name,team_shots,team_structure_index
0,Olympic (Women) - Olympic Athletes from Russia,19,10.004744
1,Olympic (Women) - Canada,10,21.603144
2,Olympic (Women) - Switzerland,19,34.246243
3,Olympic (Women) - Finland,47,40.917732
4,Olympic (Women) - United States,29,43.867209

In [133]:
df_pbp_pp_test = df_pbp_shots = pd.read_sql('''
SELECT team_name, COUNT(team_name), SUM(is_goal)
FROM play_by_play
WHERE is_shot = 1 AND strength_state > 0
GROUP BY team_name;
''',conn)

In [134]:
df_pbp_pp_test

,team_name,COUNT(team_name),SUM(is_goal)
0,Olympic (Women) - Canada,10,1
1,Olympic (Women) - Finland,47,5
2,Olympic (Women) - Olympic Athletes from Russia,19,0
3,Olympic (Women) - Switzerland,19,2
4,Olympic (Women) - United States,29,2

## Shortcomings of basic powerplay structure index 

## What can be changed with Event Data ?

## What can be changed with Tracking data?

## Does it change the predictability?
- We will see it when